.table {
  border-collapse: collapse;
  width: 100%;
}

.table>thead {
  background: var(--primary-color);
  color: white;
}

.table>tbody>tr:nth-child(even) {
  background: var(--primary-lighter-color);
}

.table>tbody>tr:nth-child(odd) {
  background: var(--primary-lightest-color);
}