:root {
  --spacing-1: 5px;
  --spacing-2: 10px;
  --spacing-3: 15px;
  --spacing-4: 30px;

  --primary-color: rgb(126, 126, 126);
  --primary-lighter-color: rgb(214, 214, 214);
  --primary-lightest-color: rgb(247, 247, 247);
}